/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
  url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'), 
  url('../fonts/roboto-v29-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url('../fonts/roboto-v29-latin-500.woff2') format('woff2'), 
  url('../fonts/roboto-v29-latin-500.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:
  url('../fonts/roboto-v29-latin-700.woff2') format('woff2'), 
  url('../fonts/roboto-v29-latin-700.woff') format('woff'); 
}



* {
  box-sizing: border-box;
  
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}


body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  
}

img {
  vertical-align: middle;
  object-fit: cover;
  
}

.header {
  background-color: #F1D2B0;
  background-image: url(../images/Rectangle.png);
  background-size: 1440px 800px;
  
}

.container {
  width: 1480px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.header-iner{
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.nav-rigt {
  margin-left: auto;
}

.nav-rigt-list {
  list-style: none;
  display: flex;
  
}

.nav-rigt-list-item {
  margin-right: 40px;
}

.nav-rigt-list-link {
  text-decoration: none;
  color: #030303;
  font-weight: 700;
}


.hero {
  display: flex;
  
}

.hero-text {
  margin-top: auto;
  margin-bottom: auto;
  width: 464px;
  
}

.top-text {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-style: 700; 
  font-size: 64px;
  line-height: 75px;
  line-height: 100%;
  
}

.bottom-text {
  margin: 0;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.button-header {
  padding: 16px 24px;
  background-color: #0A775F;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  border: 0px;
}

.rigt-img {
  position: relative;
  margin-left: auto;
}

.rigt-img-top {
  position: absolute;
  top: -65px;
  left: -68px;
}
