@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
  url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'), 
  url('../fonts/roboto-v29-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:
  url('../fonts/roboto-v29-latin-500.woff2') format('woff2'), 
  url('../fonts/roboto-v29-latin-500.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:
  url('../fonts/roboto-v29-latin-700.woff2') format('woff2'), 
  url('../fonts/roboto-v29-latin-700.woff') format('woff'); 
}

* {
  box-sizing: border-box;
  
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}


body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  overflow-x: hidden;
}

img {
  vertical-align: middle;
  object-fit: cover;
  
}

.header {
  background-color: #F1D2B0;
  background-image: url(../images/Rectangle.png);
  background-repeat: no-repeat; 
  background-size: 100%;
  background-blend-mode: overlay;
  
}

.container {
  width: 1380px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.header__iner{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 40px 0;
}

.nav__rigt {
  margin: 0;
  margin-left: auto;
}

.nav__rigt__list {
  list-style: none;
  display: flex;
  
}

.nav__rigt__list__item {
  margin-right: 40px;
}

.nav__rigt__list-link {
  text-decoration: none;
  color: #030303;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}


.hero {
  position: relative;
  background-color: #F1D2B0;
  background-image: url(../images/backimg.png), url(../images/Rectangle.png);
  background-repeat: no-repeat;
  background-size: contain, 100%;
  background-position: calc(50% + 416px), center center ;
  background-blend-mode: normal, overlay;
  padding: 116px 0 249px ;
  
}

.hero::before {
  position: absolute;
  top: calc(-9%);
  left: calc(50% + 5px);
  display: block;
  width: 160px;
  height: 160px;
  background-image: url(../images/coffe.png);
  background-size: contain;
  background-repeat: no-repeat; 
  content: "";
}


.hero__iner {
  padding-left: 100px;
}

.hero__text {
  margin: 0;
  width: 464px;
  
}

.top__text {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  
}

.bottom__text {
  margin: 0;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.button-header {
  display: inline-block;
  padding: 16px 24px;
  background-color: #0A775F;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

.section {
  position: relative;
  padding: 20px;
  background-color: #fff;
}

.section::before {
  position: absolute;
  top: calc(50% - 800px);
  left: calc(50% - 870px);
  width: 402px;
  height: 300px;
  background-image: url(../images/cestop.png);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";  
}


.section::after {
  position: absolute;
  top: calc(50% - 200px);
  right: calc(50% - 950px);
  width: 393px;
  height: 477px;
  background-image: url(../images/seccen.png);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}


.section__top {
  background-blend-mode: overlay;
  text-align: center;
  background-color: #F5F5EC;
  background-image: url(../images/Rectangle.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section__top::after{
  position: absolute;
  top: calc(50% + 400px);
  left: calc(50% - 925px);
  width: 316px;
  height: 269px;
  background-image: url(../images/secbot.png);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.section__top__title {
  margin: 0;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
}

.section__top__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.section__top__item:nth-child(odd){
  flex-direction: row-reverse;
  
}

.section__top__item__titile {
  width: 453px;
  margin-left: 117px;
  text-align: left;
}


.section__top__item__text__top {
  font-weight: 700;
  font-size: 48px;
  Line-height: 56px;
  margin: 0;
  margin-bottom: 10px;
}


.section__top__item__text__bottom {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  margin: 0;
}


.section__top__item__titile--active {
  margin-left: 0px;
  margin-right: 117px;
}

.section__bottom {
  background-color: #fff;
  padding: 20px;
  position: relative;
}


.section__bottom__iner {
  position: relative;
  background-color: #C4915D;
  background-image: url(../images/Rectangle.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 500px;
  margin-bottom: 289px;
}

.section__bottom__iner__titele {
  width: 581px;
  margin-bottom: 80px;
  margin-right: auto;
  margin-left: auto;
}



.section__bottom__iner__titele__top {
  margin: 0;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 50px;
}

.section__bottom__iner__titele__bottom {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}


.section__bottom__iner__list {
  position: absolute;
  top: 360px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: left;
}

.section__bottom__iner__list::before {
  position: absolute;
  top: calc(50% - 367px);
  left: calc(50% - 715px);
  width: 129px;
  height: 136px;
  background-image: url(../images/cofe.png);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}



.section__bottom__iner__list__item {
  margin-right: 20px;
}

.section__bottom__iner__list__item:nth-child(3) {
  margin-right: 0;
}

.section__bottom__iner__list__item > img {
  margin-bottom: 28px;
}

.section__bottom__iner__list__item__box {
  width: 377px;
}


.section__bottom__iner__list__item__titele {
  margin: 0;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
}

.section__bottom__iner__list__item__text {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.How__it__works {
  padding: 20px;
  background-color: #fff;
  
}
.How__it__works__iner {
  position: relative;
  background-blend-mode: overlay;
  text-align: center;
  background-color: #086853;
  background-image: url(../images/Rectangle.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 50px 30px;
}

.How__it__works__iner::before {
  position: absolute;
  top: calc(50% - 250px);
  right: calc(50% - 650px);
  width: 129px;
  height: 130px;
  background-image: url(../images/but.png);
  background-repeat: no-repeat;
  background-size: contain;
  content: ""
  
}


.How__it__works__iner__titele {
  color: #fff;
  margin: 0;
  margin-bottom: 80px; 
  line-height: 59px;
  font-weight: 700;
  font-size: 50px;
}

.How__it__works__iner__list {
  list-style-type: none;
  display: flex;
}
.How__it__works__iner__list__item {
  position: relative;
  margin-right: 20px;
  padding-top: 140px;
  padding-right: 28px;
  padding-bottom: 40px;
  padding-left: 20px;
  background-color: #fff;
  text-align: left;
}

.How__it__works__iner__list__item__titele {
  margin: 0;
  margin-bottom: 10px;
  line-height: 47px;
  font-weight: 500;
  font-size: 40px;
}

.How__it__works__iner__list__item__text {
  margin: 0;
  line-height: 28px;
  font-weight: 400;
  font-size: 18px;
}


.How__it__works__iner__list__item:nth-child(1):after {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 65px;
  height: 75px;
  background-image: url(../images/left.png);
  background-repeat: no-repeat;
  content: "";
  
}

.How__it__works__iner__list__item:nth-child(2):after {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 65px;
  height: 75px;
  background-image: url(../images/center.png);
  background-repeat: no-repeat;
  content: "";
  
}

.How__it__works__iner__list__item:nth-child(3):after {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 65px;
  height: 75px;
  background-image: url(../images/coffeleft.png);
  background-repeat: no-repeat;
  content: "";
  
}

.How__it__works__iner__span {
  text-align: left;
  background-image: url(../images/first.png);
  background-repeat: no-repeat;
  background-position: calc(50% - 155px) calc(50%);
  display: flex;
}
.How__it__works__iner__span__titele:nth-child(2) {
  margin-left: 0;
}

.How__it__works__iner__span__titele:nth-child(3) {
  margin-left: 0;
  margin-left: 0;
}

.How__it__works__iner__span__titele {
  display: inline-block;
  background-color: #fff;
  width: 60px;
  height: 60px;
  border: 1px solid #030303;
  margin-left: 40px;
  margin-right: 373px;
}

.footer {
  background-color: #F2D3B0;
  background-image: url(../images/Rectangle.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
  padding: 0;
  padding: 50px 60px;
}

.footer__iner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__iner__link > a {
  margin-right: 30px;
}

.footer__iner__link > a:nth-child(3) {
  margin-right: 0;
}