.main__about__hero {
  position: relative;
  background-color: #F1D2B0;
  background-image: url(../images/about.png), url(../images/Rectangle.png);
  background-repeat: no-repeat;
  background-size: 710px 596px, 100%;
  background-position: calc(50% + 416px), center center ;
  background-blend-mode: normal, overlay;
  padding: 116px 0 253px ;  
  
}



.main__about__hero::before {
  position: absolute;
  width: 160px;
  height: 160px;
  top: calc(50% - 360px);
  right: calc(50% - 150px);
  background-image: url(../images/coffe.png);
  background-repeat: no-repeat;
  background-size: 160px 160px;
  content: "";
}


.main__about__hero__text {
  margin: 0;
  width: 464px;
}
.main__about__top__text {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #000000;
}
.main__about__bottom__text {
  margin: 0;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  .about__hero {

    background-image: url(../images/about@2x.png);
    &::before {
      background-image: url(../images/coffe@2x.png);

    }
  }



} 