.main__about__section {
  padding: 20px;
  margin-bottom: 160px; 
}



.main__about__section___top {
  text-align: center;
  background-color: #F5F5EC;
  background-image: url(../images/cestop.png), url(../images/Rectangle.png) ;
  background-repeat: no-repeat;
  background-size: 402px 302px, 100%;
  background-position: calc(50% - 705px) calc(50% - 170px), center;
  background-blend-mode: normal, overlay;
}


.main__about__section__iner {
  display: flex;
  align-items: center;
  padding-top: 160px;
  padding-right: 64px;
  padding-bottom: 216px;
  padding-left: 160px;
  
  &::before {
    width: 360px;
    height: 364px;
    margin-right: 125px;
    background-image: url(../images/gre.png);
    background-repeat: no-repeat;
    background-size: 360px 364px;
    content: "";
  }
}




.main__about__section__iner > .aboutiner > .section__top__title {
  margin-bottom: 24px;
}

.main__about__section__iner > .aboutiner > p {
  margin: 0;
  font-weight: 400;
  font-size: 18px;  
  line-height: 30px;
}



.main__about__section__iner__item {
  width: 626px;  
}

.main__about__section__iner__item__top__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
  margin: 0;
  margin-bottom: 24px;
}

.main__about__section__iner__item__top__title ~ p {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #333333;
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  .main__about__section__::before {
    background-image: url(../images/cestop@2x.png);
  }
  

  .main__about__section__iner {
    
    &::before {
      background-image: url(../images/gre@2x.png);
    
    }
  }
  

} 