

.main__section__bottom {
  background-color: #fff;
  padding: 20px;
  position: relative;
}


.main__about__section____bottom__iner {
  position: relative;
  background-color: #C4915D;
  background-image: url(../images/Rectangle.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 90px;
  margin-bottom: 289px;
  background-blend-mode: overlay;
}

.main__about__section____bottom__iner__titele {
  width: 581px;
  margin-bottom: 80px;
  margin-right: auto;
}



.main__about__section____bottom__iner__titele__top {
  margin: 0;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: left;

}

.main__about__section____bottom__iner__titele__bottom {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  text-align: left;
}



.about::before {
  position: absolute;
  top: calc(50% - 330px);
  right: calc(50% - 670px);
  width: 550px;
  height: 500px;
  background-image: url(../images/right.png);
  background-size: 550px 500px;
  content: "";
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  .aboutsection__bottom__iner {
    background-image: url(../images/Rectangle@2x.png);
  }

  .about::before {
    background-image: url(../images/right@2x.png);

  }

} 
