
.main__How__it__works__iner__about {
  background-blend-mode: overlay;
  text-align: center;
  background-color: #086853;
  background-image: url(../images/Rectangle.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 50px 30px;
}


.main__How__it__works__iner__about__titele {
  color: #fff;
  margin: 0;
  margin-bottom: 80px; 
  line-height: 59px;
  font-weight: 700;
  font-size: 50px;
}

.main__How__it__works__iner__about__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.main__How__it__works__iner__about__list__item__titele {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #333333;
  margin: 0;
  margin-bottom: 10px;
}

.main__How__it__works__iner__about__list__item__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
  margin: 0;}
  
  .main__How__it__works__iner__about__list__about {
    position: relative;
    margin-right: 20px;
    padding-top: 140px;
    padding-right: 182px;
    padding-bottom: 40px;
    padding-left: 20px;
    background-color: #fff;
    text-align: left;
    &::before {
      position: absolute;
      width: 120px;
      height: 143px;
      top: 10px;
      right: 10px;
      background-image: url(../images/united.svg);
      background-repeat: no-repeat;
      content: "";
    }
  }
  
  
  
  
  .main__How__it__works__iner__about__list__about:nth-child(2) {
    padding-top: 187px;
  }
  
  .main__How__it__works__iner__about__list__about:nth-child(3) {
    padding-top: 187px;
  }
  
  .main__How__it__works__iner__about__list__about:nth-child(2)::before {
    background-image: url(../images/canada.svg);
  }
  
  .main__How__it__works__iner__about__list__about:nth-child(3)::before {
    background-image: url(../images/aust.svg);
  }
  
  .main__How__it__works__iner__about__list__about > div {
    width: 231px;
  }
  
  .How__it__works__iner__list {
    margin: 0;
  }
  
  .How__it__works__iner__span__titele {
    margin-bottom: 10px;
  }
  
  .aboutHow__it__works__iner {
    background-blend-mode: overlay;
    text-align: center;
    background-color: #086853;
    background-image: url(../images/Rectangle.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 50px 30px;
  }
  
  .How__it__works__iner__list {
    padding: 0;
  }
  
  .How__it__works {
    margin-bottom: 50px;
  }