

.main__section__bottom__iner__list {
  position: relative;
  top: 360px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: left;
}

.main__section__bottom__iner__list::before {
  position: absolute;
  top: calc(50% - 367px);
  left: calc(50% - 715px);
  width: 129px;
  height: 136px;
  background-image: url(../../images/cofe.png);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}



.main__section__bottom__iner__list__item {
  margin-right: 20px;
}

.main__section__bottom__iner__list__item:nth-child(3) {
  margin-right: 0;
}

.main__section__bottom__iner__list__item > img {
  margin-bottom: 28px;
}

.main__section__bottom__iner__list__item__box {
  width: 377px;
}


.main__section__bottom__iner__list__item__titele {
  margin: 0;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
}

.main__section__bottom__iner__list__item__text {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  .main__section__bottom__iner__list::before {
    background-image: url(../images/cofe@2x.png);
  }
} 